spring:
  profiles:
    active: test

  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;MODE=MySQL
    driver-class-name: org.h2.Driver
    username: sa
    password: ""
  application:
    name: fire-engine-bridge

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: create-drop

  flyway:
    enabled: true
    baseline-on-migrate: true

api:
  security:
    secret: ${JWT_SECRET:my-strong-secret-12345}

server:
  port: 8080
  error:
    include-stacktrace: never

python:
  api:
    url: ${PYTHON_API_URL:http://127.0.0.1:8000/analyze}